# Aufgabe 2

Finden Sie eine offenes Datenset und versuchen Sie mittels Python Fragen zu beantworten, Hypothesen zu belegen/widerlegen oder Daten zu visualisieren. Es müssen mindestens drei unterschiedliche Fragen, Hypothesen oder Visualisierungen sein. Erstellen
Sie dazu ein Jupyter Notebook (oder ein Python-Script) mit folgenden Abschnitten - im
Jupyter Notebook nutzen Sie bitte Markdownzellen für diese Dokumentation:

• Beschreibung des Datensets (150 - 300 Wörter)

• Fragestellungen (200 - 500 Wörter)

• Datenanalyse in Python mit Kommentaren was und warum Sie bestimmte Schritte
gemacht haben ggf. auch kurze Erläuterung der Ergebnisse

• Diskussion (150 - 300 Wörter)

## Beschreibung des Datensets
Zur Datenanalyse wurde das Datenset „title.ratings.tsv.gz“ der IMDb Datasets ausgewählt. Dieses Set enthält die Werte zu den Ratings und den Stimmen der Nutzer*innen zu den jeweiligen Werken.
imdb - Internet Movie Database

## Fragestellungen

1. Welcher Film besitzt das höchste Rating?

2. NumberVotes

3. Wie viele Filme liegen über dem Durchschnitt des Ratings?

## Diskussion

Wenn ich wüsste was ich tue, könnte hier etwas stehen.

In [36]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [37]:
url = "https://datasets.imdbws.com/title.ratings.tsv.gz"
imdb = pd.read_csv(url, sep="\t")

# Mithilfe des Parameters sep werden die Werte durch Tabulatoren separiert.

In [38]:
imdb

            tconst  averageRating  numVotes
0        tt0000001            5.7      1809
1        tt0000002            6.0       233
2        tt0000003            6.5      1561
3        tt0000004            6.1       152
4        tt0000005            6.2      2382
...            ...            ...       ...
1181302  tt9916682            5.6         5
1181303  tt9916690            6.6         5
1181304  tt9916720            5.3       127
1181305  tt9916766            7.1        17
1181306  tt9916778            7.5        31

[1181307 rows x 3 columns]

Für die Beantwortung der Fragestellungen werden die vorliegenden Zeilen genutzt.
Da sich diese stetig ändern, kann es vorkommen, dass andere Werte zur Zeit der Durchführung vorlagen.

In [65]:
# Mithilfe von print() kann es ebenfalls visualisiert werden.
print(imdb)

            tconst  averageRating  numVotes
0        tt0000001            5.7      1809
1        tt0000002            6.0       233
2        tt0000003            6.5      1561
3        tt0000004            6.1       152
4        tt0000005            6.2      2382
...            ...            ...       ...
1181302  tt9916682            5.6         5
1181303  tt9916690            6.6         5
1181304  tt9916720            5.3       127
1181305  tt9916766            7.1        17
1181306  tt9916778            7.5        31

[1181307 rows x 3 columns]

#### 1. Welches Medium besitzt das höchste Rating?

In [39]:
# Herausgabe der Spalte
imdb["averageRating"]

0          5.7
1          6.0
2          6.5
3          6.1
4          6.2
          ...
1181302    5.6
1181303    6.6
1181304    5.3
1181305    7.1
1181306    7.5
Name: averageRating, Length: 1181307, dtype: float64

In [40]:
imdb.averageRating.sort_values()

797846      1.0
1117156     1.0
552871      1.0
615480      1.0
773114      1.0
           ...
677958     10.0
599057     10.0
936603     10.0
936609     10.0
939356     10.0
Name: averageRating, Length: 1181307, dtype: float64

Die Variable "sort_values" hat die averageRatings vom kleinsten zum größten Wert sortiert.

Aufgrund dieser Sortierung kann nun eingesehen werden, welches Medium das höchste Rating besitzt. In diesem Fall haben mehrere Medien das gleiche Rating von 10.0 inne.

In [69]:
hoch = imdb.averageRating.max()
liste = []

def hoch(imdb):
    if imdb.averageRating == hoch:
        liste.append(hoch)
print(len(liste))

0

#### 2. Frage

In [42]:
# Herausgabe der Spalte
imdb.numVotes

0          1809
1           233
2          1561
3           152
4          2382
           ...
1181302       5
1181303       5
1181304     127
1181305      17
1181306      31
Name: numVotes, Length: 1181307, dtype: int64

In [43]:
imdb.numVotes.describe()

count    1.181307e+06
mean     9.751111e+02
std      1.629612e+04
min      5.000000e+00
25%      1.100000e+01
50%      2.400000e+01
75%      9.100000e+01
max      2.451241e+06
Name: numVotes, dtype: float64

In [44]:
imdb.numVotes.sort_values()

406226           5
520757           5
1128888          5
747958           5
1128883          5
            ...
81924      1900003
98565      1931385
612465     2159281
248663     2406950
82141      2451241
Name: numVotes, Length: 1181307, dtype: int64

#### 3. Wie viele Filme liegen über dem Durchschnitt des Ratings?

In [45]:
imdb.averageRating.describe()

count    1.181307e+06
mean     6.922557e+00
std      1.397072e+00
min      1.000000e+00
25%      6.200000e+00
50%      7.100000e+00
75%      7.900000e+00
max      1.000000e+01
Name: averageRating, dtype: float64

In [46]:
# Der Durchschnitt der Ratings wird herausgegeben.
imdb.averageRating.mean()

6.922556625838679

In [75]:
# Mithilfe der for-Schleife soll das averageRating durchlaufen werden und
# alle Filme, die über dem Durchschnitt liegen in der erstellten
# Ergebnisliste gespeichert werden.
# Die Länge dieser Liste wird dann herausgegeben.

gol = imdb["averageRating"]

def averageRating(imdb):
    ergebnis_Hoch = []
    for y in gol: 
        if gol > imdb.averageRating.mean():
            ergebnis_Hoch.append(y)
print(len(ergebnis_Hoch))

0