# Aufgabe 2

Finden Sie eine offenes Datenset und versuchen Sie mittels Python Fragen zu beantworten, Hypothesen zu belegen/widerlegen oder Daten zu visualisieren. Es müssen mindestens drei unterschiedliche Fragen, Hypothesen oder Visualisierungen sein. Erstellen
Sie dazu ein Jupyter Notebook (oder ein Python-Script) mit folgenden Abschnitten - im
Jupyter Notebook nutzen Sie bitte Markdownzellen für diese Dokumentation:

• Beschreibung des Datensets (150 - 300 Wörter)

• Fragestellungen (200 - 500 Wörter)

• Datenanalyse in Python mit Kommentaren was und warum Sie bestimmte Schritte
gemacht haben ggf. auch kurze Erläuterung der Ergebnisse

• Diskussion (150 - 300 Wörter)

## Beschreibung des Datensets
Zur Datenanalyse wurde das Datenset „title.ratings.tsv.gz“ der IMDb Datasets ausgewählt. Dieses Set enthält die Werte zu den Ratings und den Stimmen der Nutzer*innen zu den jeweiligen Werken.

## Fragestellungen

1. Welche Filme 

2. Warum mache ich das hier?

3. Wie viele Filme liegen über dem Durchschnitt des Ratings?

## Diskussion

Wenn ich wüsste was ich tue, könnte hier etwas stehen.

In [174]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import csv

In [175]:
url = "https://datasets.imdbws.com/title.ratings.tsv.gz"
imdb = pd.read_csv(url, sep="\t")

# Mithilfe des Parameters sep werden die Werte durch Tabulatoren separiert.

In [176]:
imdb

            tconst  averageRating  numVotes
0        tt0000001            5.7      1808
1        tt0000002            6.0       233
2        tt0000003            6.5      1559
3        tt0000004            6.1       152
4        tt0000005            6.2      2382
...            ...            ...       ...
1180464  tt9916682            5.6         5
1180465  tt9916690            6.6         5
1180466  tt9916720            5.3       127
1180467  tt9916766            6.9        18
1180468  tt9916778            7.5        31

[1180469 rows x 3 columns]

Für die Beantwortung der Fragestellungen werden die vorliegenden Zeilen genutzt.

#### 1. Frage

In [182]:
imdb["averageRating"]

0          5.7
1          6.0
2          6.5
3          6.1
4          6.2
          ...
1180464    5.6
1180465    6.6
1180466    5.3
1180467    6.9
1180468    7.5
Name: averageRating, Length: 1180469, dtype: float64

In [183]:
# Der Durchschnitt der Ratings wird herausgegeben.
imdb.averageRating.mean()

6.922153059503989

In [179]:
imdb.averageRating.describe()

count    1.180469e+06
mean     6.922153e+00
std      1.397129e+00
min      1.000000e+00
25%      6.200000e+00
50%      7.100000e+00
75%      7.900000e+00
max      1.000000e+01
Name: averageRating, dtype: float64

#### 3. Wie viele Filme liegen über dem Durchschnitt des Ratings?

In [181]:
# Der Durchschnitt wird aus Einfachheit zu 6.93 aufgerundet.

gol = imdb["averageRating"]

def gol(imdb):
    if gol.count("-") > 6.93:
        return True
    if gol.count("-") < 6.93:
        return False
    for char in imdb:
        if char =="-":
            continue
        if not char.isdigit():
            return False
    return True