# Aufgabe 2

Finden Sie eine offenes Datenset und versuchen Sie mittels Python Fragen zu beantworten, Hypothesen zu belegen/widerlegen oder Daten zu visualisieren. Es müssen mindestens drei unterschiedliche Fragen, Hypothesen oder Visualisierungen sein. Erstellen
Sie dazu ein Jupyter Notebook (oder ein Python-Script) mit folgenden Abschnitten - im
Jupyter Notebook nutzen Sie bitte Markdownzellen für diese Dokumentation:

• Beschreibung des Datensets (150 - 300 Wörter)

• Fragestellungen (200 - 500 Wörter)

• Datenanalyse in Python mit Kommentaren was und warum Sie bestimmte Schritte
gemacht haben ggf. auch kurze Erläuterung der Ergebnisse

• Diskussion (150 - 300 Wörter)

## Beschreibung des Datensets
Zur Datenanalyse wurde das Datenset „title.ratings.tsv.gz“ der IMDb Datasets ausgewählt. Dieses Set enthält die Werte zu den Ratings und den Stimmen der Nutzer*innen zu den jeweiligen Werken.
imdb - Internet Movie Database

## Fragestellungen

1. Welcher Film besitzt das höchste Rating?

2. NumberVotes

3. Wie viele Filme liegen über dem Durchschnitt des Ratings?

## Diskussion

Wenn ich wüsste was ich tue, könnte hier etwas stehen.

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import csv

In [2]:
url = "https://datasets.imdbws.com/title.ratings.tsv.gz"
imdb = pd.read_csv(url, sep="\t")

# Mithilfe des Parameters sep werden die Werte durch Tabulatoren separiert.

In [3]:
imdb

            tconst  averageRating  numVotes
0        tt0000001            5.7      1808
1        tt0000002            6.0       233
2        tt0000003            6.5      1559
3        tt0000004            6.1       152
4        tt0000005            6.2      2382
...            ...            ...       ...
1180464  tt9916682            5.6         5
1180465  tt9916690            6.6         5
1180466  tt9916720            5.3       127
1180467  tt9916766            6.9        18
1180468  tt9916778            7.5        31

[1180469 rows x 3 columns]

Für die Beantwortung der Fragestellungen werden die vorliegenden Zeilen genutzt.
Da sich diese stetig ändern, kann es vorkommen, dass andere Werte zur Zeit der Durchführung vorlagen.

#### 1. Welches Medium besitzt das höchste Rating?

In [4]:
# Herausgabe der Spalte
imdb["averageRating"]

0          5.7
1          6.0
2          6.5
3          6.1
4          6.2
          ...
1180464    5.6
1180465    6.6
1180466    5.3
1180467    6.9
1180468    7.5
Name: averageRating, Length: 1180469, dtype: float64

In [55]:
imdb.averageRating.sort_values()

1120090     1.0
272673      1.0
825011      1.0
317877      1.0
1012164     1.0
           ...
938288     10.0
938286     10.0
126816     10.0
749324     10.0
937309     10.0
Name: averageRating, Length: 1180469, dtype: float64

Die Variable "sort_values" hat die averageRatings vom kleinsten zum größten Wert sortiert.

Aufgrund dieser Sortierung kann nun eingesehen werden, welches Medium das höchste Rating besitzt. In diesem Fall haben mehrere Medien das gleiche Rating von 10.0 inne.

In [53]:
hoch = imdb.averageRating.max()

def hoch(imdb):
    if imdb.averageRating == hoch:
        print(imdb.tconst.averageRating)
        return False

#### 2. Frage

In [13]:
# Herausgabe der Spalte
imdb.numVotes

0          1808
1           233
2          1559
3           152
4          2382
           ...
1180464       5
1180465       5
1180466     127
1180467      18
1180468      31
Name: numVotes, Length: 1180469, dtype: int64

In [15]:
imdb.numVotes.describe()

count    1.180469e+06
mean     9.750939e+02
std      1.629362e+04
min      5.000000e+00
25%      1.100000e+01
50%      2.400000e+01
75%      9.100000e+01
max      2.449942e+06
Name: numVotes, dtype: float64

In [57]:
imdb.numVotes.sort_values()

818903           5
1043983          5
828112           5
828106           5
828087           5
            ...
81922      1899135
98562      1930439
612183     2158064
248637     2405653
82139      2449942
Name: numVotes, Length: 1180469, dtype: int64

#### 3. Wie viele Filme liegen über dem Durchschnitt des Ratings?

In [8]:
# Der Durchschnitt der Ratings wird herausgegeben.
imdb.averageRating.mean()

6.922153059503989

In [68]:
# Der Durchschnitt wird aus Einfachheit zu 6.93 aufgerundet.

gol = imdb["averageRating"]
dat = imdb

def gol(imdb):
    if imdb.averageRating > 6.93:
        print(dat)
        return True
    if imdb.averageRating < 6.93:
        return False

In [58]:
imdb.averageRating.describe()

count    1.180469e+06
mean     6.922153e+00
std      1.397129e+00
min      1.000000e+00
25%      6.200000e+00
50%      7.100000e+00
75%      7.900000e+00
max      1.000000e+01
Name: averageRating, dtype: float64